{{ define "base" }}
	<!-- TODO:
	- change save button with animation
	- copy to clipboard
-->
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ template "title" . }}</title>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link href="./static/styles/style.css" rel="stylesheet" />
			<link href="./static/styles/chroma.css" rel="stylesheet" />
			<script src="./static/js/script.js" defer></script>
		</head>
		<body>
			<header>
				<a class="header__brand" href="/">Simple Paste</a>
				<div class="header__address">
					{{ template "address" . }}
				</div>
				<div class="header__icons">
					<img class="header__share" src="./static/svg/share.svg" />
					<img class="header__theme" src="./static/svg/sun.svg" />
				</div>
			</header>
			<main>
				{{ template "main" . }}
			</main>
			<footer></footer>
		</body>
	</html>
{{ end }}
