{{ define "base" }}
	<!doctype html>
	<html lang="en">
		<head>
			<title>{{ template "title" . }}</title>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link href="./static/styles/style.css" rel="stylesheet" />
			<link href="./static/styles/chroma.css" rel="stylesheet" />
			<script src="./static/js/script.js"></script>
		</head>
		<body>
			<header>
				<h1>Simple Paste</h1>
				<div class="metadata">
					{{ template "address" . }}
				</div>
				<div class="hidden dialog">Address copied to clipboard!</div>
				<img class="icons share" src="./static/svg/share.svg" />
				<img class="icons theme" src="./static/svg/sun.svg" />
			</header>
			<main>
				{{ template "main" . }}
			</main>
		</body>
	</html>
{{ end }}
