<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Simple Paste - Error</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./static/styles/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="message-container">
			<p class="container__error">Internal server error :(</p>
			<a class="container__home" href="/">Home</a>
		</div>
	</body>
</html>

