{{ template "base" . }}
{{ define "title" }}
	Simple Paste - Home
{{ end }}
{{ define "select" }}
	<select class="select">
		<option value="text">Text only</option>
		<option value="bash">Bash</option>
		<option value="go">Golang</option>
		<option value="c">C</option>
		<option value="css">CSS</option>
		<option value="cpp">HTML</option>
		<option value="python">Python</option>
		<option value="ruby">Ruby</option>
		<option value="rust">Rust</option>
		<option value="javascript">Javascript</option>
	</select>
{{ end }}
{{ define "address" }}
	<input class="address" type="text" value="" disabled />
	{{ template "select" . }}
	<img class="icons save" src="./static/svg/save.svg" />
{{ end }}
{{ define "main" }}
	<div class="numbers">
		<div class="number">1</div>
	</div>
	<textarea
		class="textarea"
		type="text"
		spellcheck="false"
		autocomplete="off"
		placeholder="Enter code to paste."
		autofocus
	></textarea>
{{ end }}
