{{ template "base" . }}
{{ define "title" }}
	Simple Paste
{{ end }}
{{ define "select" }}
	<select class="header__select">
		<option value="text">Text only</option>
		<option value="bash">Bash</option>
		<option value="go">Golang</option>
		<option value="c">C</option>
		<option value="css">CSS</option>
		<option value="cpp">HTML</option>
		<option value="python">Python</option>
		<option value="ruby">Ruby</option>
		<option value="rust">Rust</option>
		<option value="javascript">Javascript</option>
	</select>
{{ end }}
{{ define "main" }}
	<div class="main__numbers">
		<div class="main__number">1</div>
	</div>
	<textarea
		class="main__input"
		type="text"
		spellcheck="false"
		autofocus
	></textarea>
{{ end }}
