{{ template "base" . }}
{{ define "title" }}
	Simple Paste -
	{{ .Address }}
{{ end }}
{{ define "address" }}
	<input class="address" type="text" value="{{ .Address }}" disabled />
	<div class="info">
		<div class="">Language: {{ .Lang }}</div>
		<div class="">Lines: {{ .LineCount }}</div>
	</div>
{{ end }}
{{ define "main" }}
	<div class="numbers">
		{{ range $index, $element := makeSlice .LineCount }}
			<div class="number">{{ inc $index }}</div>
		{{ end }}
	</div>
	<div class="text">{{ .TextHighlighted }}</div>
{{ end }}
