{{ template "base" . }}
{{ define "title" }}
	Simple Paste -
	{{ .Address }}
{{ end }}
{{ define "address" }}
	<input class="header__input" type="text" value="{{ .Address }}" />
	<div class="header__info">
		<div class="">Language: {{ .Lang }}</div>
		<div class="">Lines: {{ .LineCount }}</div>
	</div>
{{ end }}
{{ define "main" }}
	<div class="main__numbers">
		{{ range $index, $element := makeSlice .LineCount }}
			<div class="main__number">{{ inc $index }}</div>
		{{ end }}
	</div>
	<div class="main__text">{{ .TextHighlighted }}</div>
{{ end }}
