/* onedark theme */
.chroma {
	color: var(--color-foreground);
	background-color: var(--color-background);
}
.chroma .lnlinks {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.chroma .lntd {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0;
}
.chroma .lntable {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.chroma .hl {
	background-color: var(--color-background);
}
.chroma .lnt {
	white-space: pre;
	-webkit-user-select: none;
	user-select: none;
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	color: var(--color-gray);
}
.chroma .ln {
	white-space: pre;
	-webkit-user-select: none;
	user-select: none;
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	color: var(--color-gray);
}
.chroma .line {
	display: flex;
}
.chroma .k {
	color: var(--color-magenta);
}
.chroma .kc {
	color: var(--color-yellow2);
}
.chroma .kd {
	color: var(--color-magenta);
}
.chroma .kn {
	color: var(--color-magenta);
}
.chroma .kp {
	color: var(--color-magenta);
}
.chroma .kr {
	color: var(--color-magenta);
}
.chroma .kt {
	color: var(--color-yellow2);
}
.chroma .n {
	color: var(--color-red);
}
.chroma .na {
	color: var(--color-red);
}
.chroma .nb {
	color: var(--color-yellow2);
}
.chroma .bp {
	color: var(--color-red);
}
.chroma .nc {
	color: var(--color-yellow2);
}
.chroma .no {
	color: var(--color-red);
}
.chroma .nd {
	color: var(--color-blue);
}
.chroma .ni {
	color: var(--color-red);
}
.chroma .ne {
	color: var(--color-red);
}
.chroma .nf {
	color: var(--color-blue);
	font-weight: bold;
}
.chroma .fm {
	color: var(--color-cyan);
	font-weight: bold;
}
.chroma .nl {
	color: var(--color-red);
}
.chroma .nn {
	color: var(--color-red);
}
.chroma .nx {
	color: var(--color-red);
}
.chroma .py {
	color: var(--color-red);
}
.chroma .nt {
	color: var(--color-red);
}
.chroma .nv {
	color: var(--color-red);
}
.chroma .vc {
	color: var(--color-red);
}
.chroma .vg {
	color: var(--color-red);
}
.chroma .vi {
	color: var(--color-red);
}
.chroma .vm {
	color: var(--color-red);
}
.chroma .s {
	color: var(--color-green);
}
.chroma .sa {
	color: var(--color-green);
}
.chroma .sb {
	color: var(--color-green);
}
.chroma .sc {
	color: var(--color-green);
}
.chroma .dl {
	color: var(--color-green);
}
.chroma .sd {
	color: var(--color-green);
}
.chroma .s2 {
	color: var(--color-green);
}
.chroma .se {
	color: var(--color-green);
}
.chroma .sh {
	color: var(--color-green);
}
.chroma .si {
	color: var(--color-green);
}
.chroma .sx {
	color: var(--color-green);
}
.chroma .sr {
	color: var(--color-green);
}
.chroma .s1 {
	color: var(--color-green);
}
.chroma .ss {
	color: var(--color-green);
}
.chroma .m {
	color: var(--color-yellow);
}
.chroma .mb {
	color: var(--color-yellow);
}
.chroma .mf {
	color: var(--color-yellow);
}
.chroma .mh {
	color: var(--color-yellow);
}
.chroma .mi {
	color: var(--color-yellow);
}
.chroma .il {
	color: var(--color-yellow);
}
.chroma .mo {
	color: var(--color-yellow);
}
.chroma .o {
	color: var(--color-cyan);
}
.chroma .ow {
	color: var(--color-cyan);
}
.chroma .c {
	color: var(--color-gray2);
}
.chroma .ch {
	color: var(--color-gray2);
}
.chroma .cm {
	color: var(--color-gray2);
}
.chroma .c1 {
	color: var(--color-gray2);
}
.chroma .cs {
	color: var(--color-gray2);
}
.chroma .cp {
	color: var(--color-gray2);
}
.chroma .cpf {
	color: var(--color-gray2);
}
