* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-gray: #f7f7f7;
	--color-dark-gray: #dedede;
	--color-orange: #f2901d;
	--color-dark-orange: #e8830d;
	--color-blue: #1e90ff;
	--color-dark-blue: #0077ea;
	--color-header: #1d2026;
	--color-background: #282c34;
}

body {
	background-color: var(--color-background);
}

a {
	text-decoration: none;
}

input,
textarea {
	outline: none;
	border: none;
}

header {
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
	font-style: italic;
	background-color: var(--color-header);
}

.hidden {
	display: none;
}

.header__brand {
	color: white;
	font-size: 1.2em;
}

.header__address {
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: 25px;
}

/* TODO: add margin-right and margin-bottom two elements after  */
.header__input {
	background-color: var(--color-header);
	color: white;
	border-bottom: 1px solid white;
	margin-right: 10px;
	caret-color: white;
	width: 300px;
	margin-bottom: 3px; /* inline with save icon */
}

.header__input:focus {
	border-bottom: 1px solid var(--color-blue);
}

.header__select {
	background-color: var(--color-header);
	color: white;
	margin-right: 10px;
	border: none;
	outline: none;
}

.header__buttons {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.header__icons {
	background-size: cover;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	filter: invert(1);
	cursor: pointer;
}

.main__input {
	width: 100%;
	height: 100vh;
	background-color: var(--color-background);
	caret-color: white;
	color: white;
	padding: 5px;
}

.main__text {
	padding: 5px;
}

.message {
	border: 2px white solid;
	padding: 20px 40px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 32px;
}

.message__home {
	cursor: pointer;
	background-color: white;
	color: var(--color-background);
}

.message__home:hover {
	transition: color 200ms ease-in-out;
	background-color: var(--color-background);
	color: white;
}
