* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-input-focus: #1e90ff;
	--color-header: #1d2026;
	--color-line-number: #595f6c;
	--icons-filter-invert: 1;

	--color-foreground-code: #c0c0c0;
	--color-foreground: #ffffff;
	--color-background: #282c34;
	--color-red: #e06c75;
	--color-green: #98c379;
	--color-yellow: #d19a66;
	--color-blue: #61afef;
	--color-magenta: #c678dd;
	--color-cyan: #56b6c2;
	--color-yellow2: #e5c07b;
	--color-gray: #55595f;
	--color-gray2: #7f848e;
}

body.light-theme {
	--color-header: #d3d3d3;
	--icons-filter-invert: 0;

	--color-foreground-code: #494b53;
	--color-foreground: #000000;
	--color-background: #ffffff;
	--color-red: #e45649;
	--color-green: #50a14f;
	--color-yellow: #986801;
	--color-blue: #4078f2;
	--color-magenta: #a626a4;
	--color-cyan: #0184bc;
	--color-yellow2: #c18401;
	--color-gray: #55595f;
	--color-gray2: #7f848e;
}

body {
	background-color: var(--color-background);
	font-family: sans;
	font-size: 13px;
}

html {
	scrollbar-color: var(--color-line-number) var(--color-background);
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background: var(--color-line-number);
}

a {
	text-decoration: none;
}

input,
textarea {
	outline: none;
	border: none;
}

.hidden {
	display: none;
}

header {
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: var(--color-header);
}

header h1 {
	color: var(--color-foreground);
	font-size: 1.4em;
	font-style: italic;
}

header .left-group {
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: 25px;
}

header .address {
	background-color: var(--color-header);
	color: var(--color-foreground);
	border-bottom: 1px solid var(--color-foreground);
	margin-right: 10px;
	caret-color: var(--color-foreground);
	width: 300px;
}

header .select {
	background-color: var(--color-header);
	color: var(--color-foreground);
	margin-right: 10px;
	border: none;
	outline: none;
}

header .select option {
	background-color: var(--color-background);
}

header .info {
	color: var(--color-foreground);
	display: flex;
	gap: 5px;
	align-items: center;
	background-color: var(--color-background);
	padding: 5px;
	border-radius: 5px;
}

header .icons {
	color: var(--color-foreground);
	background-size: cover;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	filter: invert(var(--icons-filter-invert));
	cursor: pointer;
	margin: 0 8px;
}

main {
	display: flex;
}

.textarea,
.text,
.numbers {
	padding: 4px;
	line-height: 20px;
}

main .textarea {
	width: 100%;
	background-color: var(--color-background);
	caret-color: var(--color-foreground);
	color: var(--color-foreground);
	resize: none;
	white-space: pre;
}

main .numbers {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10px;
	color: var(--color-foreground);
	padding: 4px 15px;
	overflow: hidden;
}

main .number {
	text-align: center;
	color: var(--color-line-number);
}

main .message {
	border: 2px var(--color-foreground) solid;
	padding: 20px 40px;
	color: var(--color-foreground);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 32px;
}

main .message .home {
	cursor: pointer;
	background-color: var(--color-foreground);
	color: var(--color-background);
}

main .message .home:hover {
	background-color: var(--color-background);
	color: var(--color-foreground);
}
